/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
   
}
body {
  padding-top: 70px;
    
}
h4, h5, h6, p, li{
  font-family: Georgia, Times, "Georgia", serif; ;
}


.bars{
    border-width: medium;
    background-color: black;
}
footer {
  padding: 10px 0;
}

.list-group-item{
    color: #474747;
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 20px;
}
 .card {
            background-color: rgba(0,0,0,0)
        }
 .duke {
            background-color: #223e87;
        }

h1{
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 45px;
}

h2{
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 30px;
}
h3{
    font-family: "HelveticaNeue-CondensedBold";
    font-size: 30px;
}

.navbar,navbar-brand,nav-link{
    font-family: din-condensed-light, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 20px;
}

.navbar-nav{
    padding-left: 2;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgba(255, 255, 255, 0.75);
}

.navbar-brand{
    color: rgba(255, 255, 255, 0.9);
}

.navbar-brand:hover{
    color: rgba(255, 255, 255, 0.9);
}
.navbar a{
    text-transform: uppercase;
    font-family: "HelveticaNeue-CondensedBold";
}

.navbar #img{
    width: 6%;
}

@media screen and (max-width: 996px) {
    .navbar #img{
   display: none;
}

    
}

#sidebar a{
    text-transform: uppercase;
}


        .card{
            border: none;
        }
        .card-img-top{
            align-content: center;
            text-align: center;
            width: 100%;
            height: 200;
            overflow: hidden;
        }
            .list-group > .list-group {
         
          margin-bottom: 0;
        }
        .list-group-item:focus-within + .list-group {
          display: block;
        }

        .list-group > .list-group-item {
          border-radius: 0;
          border-width: 1px 0 0 0;
        }

        .list-group > .list-group-item:first-child {
          border-top-width: 0;
        }

        .list-group  > .list-group > .list-group-item {
          padding-left: 2.5rem;
        }



/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    
    .navbar #img{
        width= 100%;
    }
        
    #sidebar {
        position: relative;
        display:contents;
        width: 100%
    }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: relative;
    top: 0;
    width: 20%; /* 6 columns */
  }
    
    #navbarResponsive{
        padding-left: 20px;
    }
    
   
}
